#skillimage1{
    display: inline;
}

#skillimage1,#skillimage2,#skillimage3{
    margin:3px;
    width:80px;
    height:80px;
}

#skillimage1:hover,#skillimage2:hover,#skillimage3:hover{
    filter: brightness(70%);
}

#banner{
    max-width: 80%;
}

#catalog_float{
    top: 50px;
    box-sizing: border-box;
    margin: 0px 0px 0px 75%;
    padding-bottom: 20px;
    position: fixed;
    z-index: 1;
    float: right;
}

@media screen and (max-width:992px) {
    #catalog_float, #catalog_normal {
        display: none;
    }
}