/* (A) ENTIRE PAGE */
* {
  font-family: arial, sans-serif;
  box-sizing: border-box;
}

body {
  background-image: url(../../../img/background1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.text {
  color:white;
  margin-bottom: 20px;
  border-radius: 1%;
  background-color: rgba(60, 60, 60, 0.2);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  border-radius: 25px;
  box-shadow:inset 0 0 6px rgba(60, 60, 60, 0.2);
  padding:20px;
}

.container{
  margin-top:40px;
}

button {
  margin:0 2px;
}
/* (B) DEALER & PLAYER */
/* (B1) CONTAINERS */
#deal-data, #play-data, #deal-cards, #play-cards { padding: 20px; }
#deal-data, #play-data { font-weight: 700; }
#deal-cards, #play-cards { min-height: 120px; }
#deal-data { background: #d74854; }
#deal-cards { background: #adb5bd80; }
#play-data { background: #4e95ff; }
#play-cards { background: #adb5bd80; }
/* #play-control { background: #f2daff; } */
#deal-stand, #play-stand {
  display: none; padding: 5px;
  color: #fff; background: #ab2323;
}
#deal-stand.stood, #play-stand.stood { display: inline-block; }

/* (B2) CARDS */
#deal-cards, #play-cards {
  display: flex;
  flex-wrap: wrap;
}
.bj-card {
  display: flex;
  align-items: center; justify-content: center;
  margin: 10px;
  width: 100px; height: 100px;
  font-size: 2em;
  text-align: center;
  background: #fff;
}
#deal-first .front { display: none; }
#deal-first.show .back { display: none; }
#deal-first.show .front { display: block; }

/* (C) PLAY CONTROLS */
#playc-hit, #playc-stand { display: none; }
#play-control.started #playc-start { display: none; }
#play-control.started #playc-hit, #play-control.started #playc-stand { display: inline-block; }
