/*设置电视机内显示块的属性*/
#table1{
  position: absolute;left: 40%;top: 25%;z-index: 2;
  width: 800px;
  height: 450px;
  overflow-y: scroll;
}

/*设置电视机图片属性*/
#bord {
  position: absolute;left: 31%;top: 10%;
  width: 60%;
}

#next-btn_pic {
  position: absolute;
  right: 17%;
  bottom: 15%;
  height: 10%;
  width: 10%;
}

#last-btn_pic {
  position: absolute;
  left: 53%;
  bottom: 15%;
  height: 10%;
  width: 10%;
}

.btn-group button {
  position: absolute;
  bottom: 5%;
  width: 40%;
  /* Set a width if needed */
}

/*设置所有奖杯的格式*/
.trophy_locked {
  position:absolute;left: 30px;z-index: 3;
 width: 100px;
 }

#trophy1{
  position: absolute;left: 30px;
  z-index: 100;
  width: 100px;
}

#trophy2{
  position: absolute;left: 30px;
  z-index: 100;
  width: 100px;
}

#trophy3{
  position: absolute;left: 30px;
 z-index: 100;
  width: 100px;
}

#trophy4{
  position: absolute;left: 30px;
 z-index: 100;
  width: 100px;
}

.trophy{
  position: relative;left: 30px;
}

/*设置成就字体下方框线卡片属性*/
.card{
  position: absolute;top: 10px;left: 180px;z-index: 20;
  width: 400px;
}

/*设置成就字体属性*/
.p1{
  position:absolute;left: 350px;z-index: 50;
  font: bold 38px youshebiaotihei;
}

/*设置单行成就格式*/
.line{
  position: relative;
  padding-bottom: 200px;
}

/*设置成就提示的格式*/
.note{
  position: absolute;top: 20px;left: 270px;z-index: 19;
  width: 150px;
  transition: transform 2s;
}
.line:hover .note{transform: translateY(90px);}
.reminder{
  position: absolute;left: 50px; z-index: 12;
  font: bold 24px 微软雅黑;
}
.paper{
  position: absolute;top: 5px;z-index: 10;
  width: 250px;
  transition: transform 2s;
}