/*添加自定义字体*/
@font-face {
  font-family: myfont;
  src: url(../font/YSBTH.TTF);
}

.logo {
  width: 100%;
}

/*设置所有奖杯的格式*/
.trophy {
  z-index: 100;
  width: 70%;
}

.card-body {
  font: x-large "华文行楷", "方正舒体", "华文新魏", "楷体";
  color:white;
}

.note {
  padding-top: 5%;
  font: 38px myfont;
  background: url(../img/card.png) no-repeat;
  background-size: 100% 100%;
  text-align: center;
  height: 100%;
}

.btn {
  width:70%;
}

#accordion {
  color:#9d0017;
  text-align: center;
}

.card{
  background-color: transparent;
}