body {
  background: url(../img/background1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}





.logo {
  margin: 10% 5% 0;
  width: 30%;
  height: 60%;
  text-align: left;
  float: left;
}

#logo_pic {
  width: 100%;
}

.bord {
  margin: 10% 5% 0;
  width: 30%;
  height: 60%;
  float: left;


}

#bord_pic {
  height: 140%;
}

.achievementTable {
  position: absolute;
  background: url(../img/bord.png) no-repeat;
  width: 60%;
  height: 85%;
  background-size: 100%;

  position: absolute;
  left: 38%;
  top: 8%;
}

.achievementcomments1 {
  /*border: medium double rgb(0, 81, 255);*/
  position: absolute;
  width: 56%;
  height: 50%;
  left: 41%;
  top: 1%;
  color: rgb(249, 5, 5);
}

.achievementcomments2 {
  /*border: medium double rgb(38, 255, 0);*/
  position: absolute;
  width: 56%;
  height: 50%;
  left: 41%;
  top: 20%;
  color:
    rgb(249, 5, 5);
}

.achievementcomments3 {
  /*border: medium double rgb(255, 0, 0);*/
  position: absolute;
  width: 56%;
  height: 50%;
  left: 41%;
  top: 39%;
  color: rgb(249, 5, 5);
}

#next-btn_pic {
  position: absolute;
  right: 17%;
  bottom: 15%;
  height: 10%;
  width: 10%;
}

#last-btn_pic {
  position: absolute;
  left: 53%;
  bottom: 15%;
  height: 10%;
  width: 10%;
}

.btn-group button {
  position: absolute;
  left: 5%;
  bottom: 5%;
  background-color: #ffffff00;
  /* Green background */
  border: 0px;
  /* Green border */
  color: #ffffff;
  /* White text */
  padding: 15px 24px;
  /* Some padding */
  cursor: pointer;
  /* Pointer/hand icon */
  width: 40%;
  /* Set a width if needed */
  display: block;
  /* Make the buttons appear below each other */
  font-size: 250%;
  font-family: "华文行楷", "方正舒体", "华文新魏", "楷体";
}

.btn-group button:not(:last-child) {
  border-bottom: none;
  /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  /* background-color: #f40000; */
  color: #9d0017;
}

a {
  text-decoration: none;
}
