body {
    background: url(../img/background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

a {
    text-decoration: none;
}

.btn-group button,.return-btn button{
    margin: auto;
    background-color: transparent;
    /* Green background */
    border: 0px;
    /* Green border */
    color: white;
    /* White text */
    padding: 15px 24px;
    /* Some padding */
    cursor: pointer;
    /* Pointer/hand icon */
    width: 100%;
    /* Set a width if needed */
    display: block;
    /* Make the buttons appear below each other */
    font-size: 250%;
    font-family: "华文行楷", "方正舒体", "华文新魏", "楷体";
}

/* Add a background color on hover */
.btn-group button:hover,.return-btn button:hover {
    color: #9d0017;
}

#achv_bar{
    position: fixed;
    top: 5%;
    left: 35%;
    height: 10%;
    width: 30%;
    background-color: black;
    color:white;
    font-size: 150%;
    font-family: "华文行楷", "方正舒体", "华文新魏", "楷体";
    text-align: center;
}

#achv_pic{
    height:100%;
    vertical-align: middle;
}