@font-face {
    font-family: mainfont;
    src: url(../font/STXINGKA.TTF);
}

body {
    background: url(../img/background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

a {
    text-decoration: none;
}

.menu button,.return-btn button{
    margin: 5px 0;
    background-color: transparent;
    border: 0px;
    color: white;
    cursor: pointer;
    width: 100%;
    display: block;
    font-size: 250%;
    font-family: mainfont;
}

.menu button:hover,.return-btn button:hover {
    color: #9d0017;
}

#achv_bar{
    position: fixed;
    top: 5%;
    left: 35%;
    height: 10%;
    width: 30%;
    background-color: black;
    color:white;
    font-size: 150%;
    font-family: mainfont;
    text-align: center;
}

#achv_pic{
    height:100%;
    vertical-align: middle;
}