.title {
    color: white;
    font-family: "华文行楷";
    margin-top: 60px;
}

.save:hover {
    color: #9d0017;
}

.list-group {
    --bs-list-group-color: #adb5bd;
    --bs-list-group-bg: #21252938;
    --bs-list-group-active-bg: #842029;
    --bs-list-group-active-border-color: #84202952;
}