body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

#wrapper {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 25vw 50vw 18vw 7vw;
    grid-template-rows: 10vh 15vh 50vh 25vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-size: 30px;
    font-family: "华文行楷", "方正舒体", "华文新魏", "楷体";
}

.wrapper a:hover {
    color: red;
}

nav {
    grid-area: 1/1/2/5;
    background: url("../img/dialogbox.png");
    line-height: 10vh;
    text-align: center;
}

nav a {
    margin: auto 5vw;
}


.item1 {
    grid-area: header;
}

.item2 {
    grid-area: menu;
}

.item3 {
    grid-area: main;
}

.item4 {
    grid-area: right;
}

.item5 {
    grid-area: footer;
}

#option_areas {

    display: grid;
    grid:
        'header header header header header header'
        'menu main main main right right'
        'menu footer footer footer footer footer';

    background-color: #777;
    grid-template-rows: 1fr auto 1fr;
    border-radius: 5%;

}



#option_area {
    grid-area: 3/2/4/3;
    display: grid;
    background-color: #777;
    grid-template-rows: 1fr auto 1fr;
    border-radius: 5%;
}

#dialog_area {
    text-indent: 2em;
    cursor: pointer;
    grid-area: 4/1/5/5;
    display: grid;
    overflow: hidden;
    background: url("../img/dialogbox.png");
    color: aliceblue;
    font-family: "华文行楷", "方正舒体", "华文新魏", "楷体";
    font-size: xx-large;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    padding: 3vh 3vw;
    line-height: 50px;
}

#name_area {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 2vw;
    font-family: "华文行楷", "方正舒体", "华文新魏", "楷体";
    color: white;
    position: absolute;
    text-align: center;
    height: 10vh;
    /*就是这两个属性*/
    width: 10vw;
    /*这两个加上后显示会出问题*/
    line-height: 10vh;
    bottom: 25vh;
}

#function_area {
    grid-area: 1/4/4/5;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    background: url("../img/dialogbox.png");

}

button {

    margin: auto;
    background-color: #ffffff00;
    /* Green background */
    border: 0px;
    /* Green border */
    color: white;
    /* White text */
    padding: 5px 0px;
    /* Some padding */
    cursor: pointer;
    /* Pointer/hand icon */
    width: 100%;
    /* Set a width if needed */
    display: block;
    /* Make the buttons appear below each other */
    font-size: 30px;
    font-family: "华文行楷", "方正舒体", "华文新魏", "楷体";
    float: left;
}

button:hover {
    color: red;
}

#character1 {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    width: 20%;
}

#character2 {
    position: absolute;
    opacity: 0;
    right: 10%;
    bottom: 0;
    z-index: 1;
    width: 20%;
}

div {
    z-index: 10;
}

#index-btn {
    align-items: center;
    justify-content: space-between;
    height: 50vh;
    padding: 1vw 2vw;
}

#prompt_area {
    z-index: -100000;
    position: absolute;
    opacity: 0;
    text-align: center;
    width: 50vw;
    height: 50vh;
    margin: 25vh 25vw;
    background: #fff;
    box-shadow: 1vh 1vw 1vw rgba(0, 0, 0, .5);
    border-radius: .5vw;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    font-family: "zhuangbi", "SimSun";
    font-size: 2vw;
    color: black;
}

#prompt_area button {
    margin: 0 5vw;
    font-family: "zhuangbi", "SimSun";
    font-size: 2vw;
}


* {
    margin: epx;
    padding: epx;
}

video {
    position: fixed;
    right: epx;
    bottom: epx;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
    /*加滤镜*/
    /*filter: blur(15px); //背景模糊设置*/
    /*-webkit-filter: grayscale(100%);*/
    /*filter:grayscale(10e%);//背景灰度设置*/
    z-index: -1
}

source {
    min-width: 180%;
    min-height: 108%;
    height: auto;
    width: auto;
}
