#logo_pic {
    width: 100%;
    margin:20% 0;
}

.text {
    color: white;
    margin-top:90px;
}

.text h1 {
    text-align: center;
    font-family: "黑体";
    font-size: 250%;
    font-weight: bold;
    line-height: 200%;
    color: #9d0017;
}

.text p {
    text-align: left;
    text-indent: 2em;
    font-family: "楷体";
    font-size: 150%;
    line-height: 200%;
}