.logo {
    margin: 10% 5% 0;
    width: 30%;
    height: 60%;
    text-align: left;
    float: left;
}

#logo_pic {
    width: 100%;
}

.text {
    /* background: rgb(255, 255, 255); */
    color: #ffffff;
    float: left;
    width: 50%;
    height: 80%;
    margin-top: 5%;
    margin-right: 5%;
}

.text h1 {
    text-align: center;
    font-family: "黑体";
    font-size: 250%;
    line-height: 200%;
    color: #9d0017;
}

.text p {
    text-align: left;
    text-indent: 2em;
    font-family: "楷体";
    font-size: 150%;
    line-height: 200%;
}