video {
    width: 100%;
    height: 100%;
}

#continue {
    position:fixed;
    top:50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    height: 100px;
    width: 100px;
    background: url(../img/play.png);
    background-size: 100%;
    border: none;
    z-index: 100;
}

#skip {
    color: rgb(8, 8, 8);
    background-color: rgb(240, 225, 145);
    border-radius: 15px;
    font-size: 180%;
    font-family: "华文行楷", "方正舒体", "华文新魏", "楷体";
    z-index: 100;
    position: fixed;
    right: 2%;
    width: 8%;
    height: 5%;
    top: 2%;
}

#skip:hover {
    color: red
}